{% extends 'layout.njk' %}

{% block content %}
<header class="ui fluid stackable grid" id="dashboard-header-grid">
  <div class="row" id="dashboard-header-row-top">
    <div class="eight wide column">
      <p id="logo">BP CRMS</p>
    </div>
    <div class="eight wide column">
    </div>
  </div>
</div>
<div class="ui container dashboard-body">
  <div class="ui fluid stackable grid">
    Welcome!
  </div>

</div>
{% endblock %}

{% block js %}
  <!-- script src="/js/dashboard.js"></script -->
{% endblock %}
